* {
    padding: 0;
    margin: 0;
}


svg {

    max-width: 100%;
}

/*Navbar*/


nav {
    z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    margin: 0px 10px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
   
    
}

.bkgCustom {

	background-color: #ffffff;
}



.navbar-brand {

    margin: 0px 50px 0px 50px;
}







/* NAVIGATION */
nav {
    width: 100%;
    margin: 0 auto;
    
    
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(255, 75, 180);
    font-weight: 400 !important;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }




  .bg-transparent {

    background-color: transparent !important;
    transition: 0.75s ease;
}

.bg-transparent.scrolled {
    
    background-color: #000 !important;
    height: 10vh;
    padding-top: 2vh;
}




header .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.bg-image {

    background: url('../../img/web04.png') ;
    height: 900px;
    margin-top: -100px;
    margin-left: -1px;
   
}

.text-white h4 {

    width: 400px;
    margin: 175px 0px 30px 40px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: left;
    padding-left: 15px;
}


.text-white h1 {

    width: 500px;
    margin: 0px 0px 30px 50px;
    font-size: 45pt;
    text-align: left;
}


.text-white h5 {

    width: 500px;
    margin: 0px 0px 50px 50px;
    line-height: 35px;
    text-align: left;
    
}


.custom-shape-divider-bottom-1616230710 {
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -50px;
}

.custom-shape-divider-bottom-1616230710 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1616230710 .shape-fill {
    fill: #000000;
}


/*Responsive ¡¡¡HEADER!!  Primero celu, después tablet*/

@media (max-width: 576px) {  /*disponitivos MENORES a 576px - tipo moto g4 360x640 */

   
        
    header .bg-image {

        background: url('../../img/webLit02.png') no-repeat;
        width: 100%;  
        margin-top: -250px;  
                
        
    }

    header .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        background-attachment: fixed;
    }

    .text-white h4 {

        font-size: 1rem;        
        text-align: left;
        margin: -40px 0px 0px 0px;
    }

    .text-white h1 {

        font-size: 2rem;
        width: 350px;
        margin-left: 15px;

    }

    .text-white h5 {

        width: 350px;
        margin: 0px 0px 10px 15px;
        font-size: 1rem;
        text-align: left;
        line-height: 1.2;
        font-weight: 500;
        
        
    }
    
    header {

        max-height: 405px;
    }

    .custom-shape-divider-bottom-1616230710 {
        position: absolute;
        bottom: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        margin-top: -540px;
    }
    
    .custom-shape-divider-bottom-1616230710 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }
    
    .custom-shape-divider-bottom-1616230710 .shape-fill {
        fill: #000000;
    }


/*-------------NUEVA NAVBVAR----------*/
 
    .menu-bar02 {
       position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F22579;
        margin: 10px;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
       /* margin-top: -20vh;*/
        position: fixed;
        top: 0;
        
        
      }
      .menu-bar02 .line02{
        width: 25px;
        height: 2px;
        margin: 3px;
        background: #ebebeb;
        transition: all 300ms ease-out;
      }
      
      .nav-bar02 .nav-items02{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #4f0780ef;
        clip-path: circle(30px at 93% 8%);
        transition: all 800ms ease-out;
        opacity: 0;
        z-index: 1;
      }
      
      .nav-bar02 .nav-items02 .nav-links02{
        color: #ebebeb;
        font-size: 18px;
        margin: 16px 0;
        text-decoration: none;
      }
      
      .nav-bar02.toggle .nav-items02{
        clip-path: circle(100%);
        opacity: 1;
      }
      
      .nav-bar02.toggle .menu-bar02{
        box-shadow: none;
      }
      
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(1){
        transform: rotate(-45deg);
        margin: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(3){
        opacity: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(2){
        transform: rotateZ(45deg);
        margin: -2px;
      }
      
     
     .navbar {
       /*  display: none;*/
       visibility: hidden;
     }
    
      

}


@media (min-width: 575px) {

    

    nav img {

        visibility: hidden;
        
    }

    nav .navbar-nav  {
        background-color: #000;
    }
    
    header .bg-image {

        background: url('../../img/web04.png') no-repeat;
        max-width: 100%;  
        margin-top: -300px;     
        
        
    }

    header .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 59vh;
        overflow: hidden;
        background-attachment: fixed;
    }

    .text-white h4 {

        font-size: 1.2rem;        
        text-align: left;
        margin: -40px 0px 0px 0px;
    }

    .text-white h1 {

        font-size: 2.4rem;
        width: 65vw;
        margin-left: 15px;
        color: #18d26e;

    }

    .text-white h5 {

        width: 60vw;
        margin: 0px 0px 10px 15px;
        font-size: 1.1rem;
        text-align: left;
        line-height: 1.5;
        font-weight: 400;
        
        
    }
    
    header {

        max-height: 57vh;
    }



    .custom-shape-divider-bottom-1616230710 {
        position: absolute;
        bottom: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        margin-top: -37vh;
    }
    
    .custom-shape-divider-bottom-1616230710 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }
    
    .custom-shape-divider-bottom-1616230710 .shape-fill {
        fill: #000000;
    }


    /*-------------NUEVA NAVBVAR----------*/

    .menu-bar02 {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F22579;
        margin: 10px;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
      /*  margin-top: -230px;*/
        position: fixed;
        top: 0;
      }
      .menu-bar02 .line02{
        width: 25px;
        height: 2px;
        margin: 3px;
        background: #ebebeb;
        transition: all 300ms ease-out;
      }
      
      .nav-bar02 .nav-items02{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #4f0780ef;
        clip-path: circle(30px at 93% 8%);
        transition: all 800ms ease-out;
        opacity: 0;
        z-index: 1;
      }
      
      .nav-bar02 .nav-items02 .nav-links02{
        color: #ebebeb;
        font-size: 18px;
        margin: 16px 0;
        text-decoration: none;
      }
      
      .nav-bar02.toggle .nav-items02{
        clip-path: circle(100%);
        opacity: 1;
      }
      
      .nav-bar02.toggle .menu-bar02{
        box-shadow: none;
      }
      
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(1){
        transform: rotate(-45deg);
        margin: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(3){
        opacity: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(2){
        transform: rotateZ(45deg);
        margin: -2px;
      }
      
      .navbar {
        /*  display: none;*/
        visibility: hidden;
      }
     

  
}


@media (min-width: 768px) {
    
    nav img {

        visibility: hidden;
        
    }

    nav .navbar-nav  {
        background-color: #000;
    }
    
    header .bg-image {

        background: url('../../img/web04.png') no-repeat;
        max-width: 100%;   
             
        
    }

    header .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 59vh;
        overflow: hidden;
        background-attachment: fixed;
    }

    .text-white h4 {

        font-size: 1.2rem;        
        text-align: left;
        margin: -40px 0px 0px 0px;
    }

    .text-white h1 {

        font-size: 2.4rem;
        width: 65vw;
        margin-left: 15px;
        color: #d4ff13;

    }

    .text-white h5 {

        width: 60vw;
        margin: 0px 0px 10px 15px;
        font-size: 1.1rem;
        text-align: left;
        line-height: 1.5;
        font-weight: 400;
                
    }
    
    header {

        max-height: 57vh;
    }



    .custom-shape-divider-bottom-1616230710 {
        position: absolute;
        bottom: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        margin-top: -32vh;
    }
    
    .custom-shape-divider-bottom-1616230710 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }
    
    .custom-shape-divider-bottom-1616230710 .shape-fill {
        fill: #000000;
    }


    /*-------------NUEVA NAVBVAR----------*/

    .menu-bar02 {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F22579;
        margin: 10px;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
        /*margin-top: -150px;*/
        position: fixed;
        top: 0;
      }
      .menu-bar02 .line02{
        width: 25px;
        height: 2px;
        margin: 3px;
        background: #ebebeb;
        transition: all 300ms ease-out;
      }
      
      .nav-bar02 .nav-items02{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #4f0780ef;
        clip-path: circle(30px at 93% 8%);
        transition: all 800ms ease-out;
        opacity: 0;
        z-index: 1;
      }
      
      .nav-bar02 .nav-items02 .nav-links02{
        color: #ebebeb;
        font-size: 18px;
        margin: 16px 0;
        text-decoration: none;
      }
      
      .nav-bar02.toggle .nav-items02{
        clip-path: circle(100%);
        opacity: 1;
      }
      
      .nav-bar02.toggle .menu-bar02{
        box-shadow: none;
      }
      
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(1){
        transform: rotate(-45deg);
        margin: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(3){
        opacity: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(2){
        transform: rotateZ(45deg);
        margin: -2px;
      }
      
     
      .navbar {
        /*  display: none;*/
        visibility: hidden;
      }
     

     
    
}


@media (min-width: 992px) {
    
    nav img {

        visibility: hidden;
        
    }

    nav .navbar-nav  {
        background-color: #000;
    }
    
    header .bg-image {

        background: url('../../img/web04.png') no-repeat;
        max-width: 100%;       
        
        
    }

    header .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 59vh;
        overflow: hidden;
        background-attachment: fixed;
    }

    .text-white h4 {

        font-size: 1.4rem;        
        text-align: left;
        margin: -40px 0px 0px 0px;
    }

    .text-white h1 {

        font-size: 2.8rem;
        width: 55vw;
        margin-left: 15px;
        color: #b410ac;

    }

    .text-white h5 {

        width: 60vw;
        margin: 0px 0px 10px 15px;
        font-size: 1.4rem;
        text-align: left;
        line-height: 1.5;
        font-weight: 400;
        
        
    }
    
    header {

        max-height: 57vh;
    }



    .custom-shape-divider-bottom-1616230710 {
        position: absolute;
        bottom: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        margin-top: -25vh;
    }
    
    .custom-shape-divider-bottom-1616230710 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }
    
    .custom-shape-divider-bottom-1616230710 .shape-fill {
        fill: #000000;
    }


    /*-------------NUEVA NAVBVAR----------*/

    .menu-bar02 {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F22579;
        margin: 10px;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
        /*margin-top: -100px;*/
        position: fixed;
        top: 0;
      }
      .menu-bar02 .line02{
        width: 25px;
        height: 2px;
        margin: 3px;
        background: #ebebeb;
        transition: all 300ms ease-out;
      }
      
      .nav-bar02 .nav-items02{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #4f0780ef;
        clip-path: circle(30px at 93% 8%);
        transition: all 800ms ease-out;
        opacity: 0;
        z-index: 1;
      }
      
      .nav-bar02 .nav-items02 .nav-links02{
        color: #ebebeb;
        font-size: 18px;
        margin: 16px 0;
        text-decoration: none;
      }
      
      .nav-bar02.toggle .nav-items02{
        clip-path: circle(100%);
        opacity: 1;
      }
      
      .nav-bar02.toggle .menu-bar02{
        box-shadow: none;
      }
      
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(1){
        transform: rotate(-45deg);
        margin: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(3){
        opacity: 0;
      }
      .nav-bar02.toggle .menu-bar02 .line02 :nth-child(2){
        transform: rotateZ(45deg);
        margin: -2px;
      }
      
     
      .navbar {
        /*  display: none;*/
        visibility: hidden;
      }
     


}

/*navbar común*/

@media (min-width: 1200px) { 


 li a {


    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
 }

 .navbar-collapse {

    color: transparent !important;
 }
    nav img {

        visibility: visible;
        
    }

    .nav-link {

        background-color: transparent !important;
     }

    .nav-bar02 {

        visibility: hidden;
    }

    .navbar {

        visibility: visible;
    }
    
    
    nav {
        z-index: 1;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
        margin: 0px 10px 0px 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        
    }
    
    .bkgCustom {
    
        background-color: #ffffff;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {    
        color: #f1428b;        
        font-weight: 400;
    }
    
    
    .navbar-brand {
    
        margin: 0px 50px 0px 50px;
    }
    
    
    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: #f1428b;
      }
    
     .navbar-light .fa-bars {
    
        color: #f1428b;
        padding-top: 5px;
    
     } 
    
     .navbar-toggler-icon {
        background-image: none!important;
       
    }
    
       
    
    
    
    /* NAVIGATION */
    nav {
        width: 100%;
        margin: 0 auto;
        
        
        
      }

.navbar {

    position: fixed;
    top: 0;
}

      nav ul {
        list-style: none;
        text-align: center;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #aaa;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before {
        transition: all .5s;
      }
      nav ul li a:hover {
        color: rgb(255, 75, 180) !important;
        font-weight: 400 !important;
      }
      
      
      /* stroke */
      nav.stroke ul li a,
      nav.fill ul li a {
        position: relative;
      }
      nav.stroke ul li a:after,
      nav.fill ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
      }
      nav.stroke ul li a:hover:after {
        width: 100%;
      }
      
      nav.fill ul li a {
        transition: all 2s;
      }
      
      nav.fill ul li a:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
      }
      nav.fill ul li a:hover {
        color: #fff;
        z-index: 1;
      }
      nav.fill ul li a:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }
}


/*header imagen y texto*/

@media (min-width: 1200px) { 
  
         
    
    header .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-attachment: fixed;
    }
    
    .bg-image {
    
        background: url('../../img/web04.png') ;
        height: 1000;
        margin-top: -30px !important;
        margin-left: -1px;
       
    }
    
    .text-white h4 {
    
        width: 400px;
        margin: 175px 0px 30px 40px;
        font-weight: 400;
        letter-spacing: 3px;
        text-align: left;
        padding-left: 15px;
    }
    
    
    .text-white h1 {
    
        width: 500px;
        margin: 0px 0px 30px 50px;
        font-size: 45pt;
        text-align: left;
    }
    
    
    .text-white h5 {
    
        width: 500px;
        margin: 0px 0px 50px 50px;
        line-height: 35px;
        text-align: left;
        
    }
    
    
    .custom-shape-divider-bottom-1616230710 {
        position: absolute;
        bottom: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        margin-top: -7vh;
    }
    
    .custom-shape-divider-bottom-1616230710 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }
    
    .custom-shape-divider-bottom-1616230710 .shape-fill {
        fill: #000000;
    }
    


}



/*----------------------------PRIMERA SECCION   NEGRO!! ---------------------------*/
.firsSec {

    max-height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 100px;
}

.firsSec  h2 {

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    display: inline-block;
    line-height: 15px;
    margin: 15px 0px 0px 0px;
    color: #fff;
    
}
.tittleNos p {

    color: #F22579;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 0px 100px;
    
}


.tittleNos span {

    font-weight: 600;
}



.tittleNos img {

    float: left;
    margin: -30px 0px 0px 0px;
    
        
}

.textUs p {

    color: rgb(233, 233, 233);
    max-width: 80%;
    text-align: left;
    font-size: 16px;
    margin: 0px 0px 150px 0px;
}

.illusUs {

    max-width: 100%;
    max-height: 100%;
}

.filter-green {

  
    max-width: 100px;
    max-height: 100px;
}


.custom-shape-divider-bottom-1616231130 {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -170px;
}

.custom-shape-divider-bottom-1616231130 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 72px;
}

.custom-shape-divider-bottom-1616231130 .shape-fill {
    fill: #ffffff;
}


.textUs .fa-rocket {

    color: #F22579;
}




@media (max-width: 575px) {  /*disponitivos MENORES a 576px  */



        
    .firsSec  h2 {

        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        display: inline-block;
        line-height: 15px;
        margin: 10px 0px 0px 0px;
        color: #fff;
            
    }

    .tittleNos p {
        
        color: #F22579;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        margin: -30px 0px 0px 70px;
            
    }
        
        
    .tittleNos span {
        
        font-weight: 600;
    }
        
        
        
    .tittleNos img {
        
        float: left;
        margin: -30px 0px 0px 0px;            
                
    }  

     .filter-green {

  
         max-width: 70px;
        max-height: 70px;
    }
        
    .textUs p {

            
        max-width: 77vw;
        text-align: justify;
        font-size: 16px;
        margin: -40px 0px 0px -40px;
    }

    .cenText {

        text-align: center;
    }


    .illusUs {

        max-width: 100vw;
        max-height: 100vh;
        padding-bottom: 70px;
        padding-right: 20px;
            
    }


}


@media (min-width: 575px) {

    .textUs p {

            
        max-width: 77vw;
        text-align: justify;
        font-size: 18px;
        margin: -40px 0px 0px -40px;
    }

    .cenText {

        text-align: center;
    }


    .illusUs {

        max-width: 100vw;
        max-height: 100vh;
        padding-bottom: 70px;
        padding-right: 20px;
            
    }

}


@media (min-width: 768px) {

    .firsSec {

        height: 800px;
        
    }

    .textUs p {

            
        max-width: 100%;
        text-align: justify;
        font-size: 14px;
        margin: -40px 0px 0px 0px;
    }

    .cenText {

        text-align: center;
    }


    .illusUs {

        max-width: 100vw;
        max-height: 100vh;
        padding-bottom: 0px;
        padding-right: 20px;
            
    }

}

@media (min-width: 992px) {

    .textUs p {

            
        max-width: 100%;
        text-align: justify;
        font-size: 17px;
        margin: -40px 0px 0px 0px;
    }

    .illusUs {

        max-width: 100vw;
        max-height: 100vh;
        padding-bottom: 0px;
        padding-right: 20px;
        padding-top: 40px;
            
    }
}


@media (min-width: 1200px) {  


    .firsSec {

        margin-top: 330px;
    }


}

/*----------------------------SEGUNDA SECCION blanco---------------------------*/


.secSec {

    height: 1200px;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    
}

.secSec  h2 {

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    display: inline-block;
    line-height: 15px;
    margin: 15px 0px 150px 0px;
    color: rgb(0, 0, 0);
}
.tittleServ p {

    color: #F22579;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 0px 100px;
    
}

.tittleServ span {

    font-weight: 600;
}


.tittleServ img {

    float: left;
    margin: -30px 0px 0px 0px;
    
        
}



#textServ {

    height: 430px;
}




/*segunda fila -  servicios*/




.section-title {
    margin-bottom: 38px
}

.shadow,
.subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(89, 8, 109, 0.1) !important;
}

.icon-primary {
    color: #F22579;
}

.icon-bg-circle {
    position: relative
}

.icon-lg {
    font-size: 50px
}

.icon-bg-circle::before {
    z-index: 1;
    position: relative
}

.icon-bg-primary::after {
    background: #F22579 !important
}

.icon-bg-circle::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    top: -35px;
    left: 15px;
    border-radius: 50%;
    background: inherit;
    opacity: .1
}

p,
.paragraph {
    font-weight: 400;
    color: #8b8e93;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif
}

.icon-bg-yellow::after {
    background: #601C70 !important
}

.icon-bg-purple::after {
    background: #F22579
}

.icon-yellow {
    color: #601C70
}

.icon-purple {
    color: #F22579
}

.icon-cyan {
    color: #601C70
}

.icon-bg-cyan::after {
    background: #601C70
}

.icon-bg-red::after {
    background: #F22579
}

.icon-red {
    color: #F22579
}

.icon-bg-green::after {
    background: #601C70
}

.icon-green {
    color: #601C70
}

.icon-bg-orange::after {
    background: #F22579
}

.icon-orange {
    color: #F22579
}

.icon-bg-blue::after {
    background: #601C70
}

.icon-blue {
    color: #601C70
}



@media (max-width: 575px) {  /*disponitivos MENORES a 576px - tipo moto g4 360x640 */


    .secSec {

        height: auto;
    }
        
    .secSec  h2 {

        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        display: inline-block;
        line-height: 15px;
        margin: 10px 0px 60px 0px;
        color: rgb(0, 0, 0);
        
    }
    .tittleServ p {
    
        color: #F22579;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        margin: -30px 0px 0px 70px;
        
    }
    
    
    .tittleServ span {
    
        font-weight: 600;
    }
    
    
    
    .tittleServ img {
    
        float: left;
        margin: -30px 0px 0px 0px;            
            
    }  

    .filter-green {


        max-width: 70px;
        max-height: 70px;
    }

    .custom-shape-divider-bottom-1616187612 {
        position: absolute;
        bottom: -1;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        margin-top: 50px;
    }

    .cardBorder {

        margin-bottom: 50px;
    }

}    







@media (min-width: 575px) {

    .secSec {

        height: auto;
        margin-bottom: 50px;
    }

}




/*----------------------------TERCER SECCION---------------------------*/

.spaceJobs {

    margin-top: 50px;
}
.secProj {

    height: 1215px;
    background-color: rgb(0, 0, 0);
    padding-top: 100px;
    
}

.secProj  h2 {

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    display: inline-block;
    line-height: 15px;
    margin: 15px 0px 0px 0px;
    color: #fff;
    
}
.tittleProj p {

    color: #F22579;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 0px 100px;
    
    
}

.tittleProj span {

    font-weight: 600;
    
}


.tittleProj img {

    float: left;
    margin: -30px 0px 0px 0px;    

        
}



.filterProj {

    float: right;
    margin: 50px 0px 0px 0px;
    font-size: 18px;    
    font-family: 'Lato', sans-serif;
}



.filterProj span {
    
    margin: 0px 10px 0px 10px;
    color: #fff;
}

.cardJobs span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #F22579;
  
}
.box{
    padding:60px 0px;
}

.box-part{
    background:rgb(255, 255, 255);
    border-radius: 3px;
    padding:60px 10px;
    margin:30px 0px;
    box-shadow: 0px 15px 39px 0px rgba(136, 142, 196, 0.4) !important;
}
.text{
    margin:20px 0px;
}


.datosProj {

    margin-top: 20px;
}


.datosProj p {

    font-size: 25px;
    color: #fff;
}

.datosProj h3 {

    font-size: 60px;
    color: #F22579;
}




#portfolio {
    padding: 60px 0;
  }
  
  
  #portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  
  #portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  #portfolio img {

    border-radius: 4px 4px 4px 4px;
  }

  
  #portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
  }
  
  #portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 340px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
  }
  
  #portfolio .portfolio-item figure:hover img  {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details  {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
  }

  
  
  

  #portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
    padding-top: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  
  #portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
    background: #eb0f75;
  }
  
  #portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
    color: #fff;
  }
  
  #portfolio .portfolio-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);  /*modifica altura de circulos*/
  }
  
  #portfolio .portfolio-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  #portfolio .portfolio-item figure:hover .link-preview {
    visibility: visible;
    left: calc(50% - 44px);
  }
  
  #portfolio .portfolio-item figure:hover .link-details {
    visibility: visible;
    right: calc(50% - 44px);
  }
  
  #portfolio .portfolio-item .portfolio-info {
    background: #fff; /*esto me cambia el color del bkg del texto*/
    text-align: center;
    padding: 30px;
    height: 50px;
    border-radius: 4px 4px 4px 4px;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #18d26e;
  }
  
  #portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  

/* Facts Section
--------------------------------*/

  
  .counters span {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 55px;
    display: block;
    color: #F22579;
  }
  
  .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  
  .facts-img {
    text-align: center;
    padding-top: 30px;
  }
  
  

  @media (max-width: 575px) {  /*disponitivos MENORES a 576px - tipo moto g4 360x640 */



    .secProj {

        height: auto;
    }
        
    .secProj  h2 {

        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        display: inline-block;
        line-height: 15px;
        margin: 10px 0px 0px 0px;
        color: #fff;
        
    }
    .tittleProj p {
    
        color: #F22579;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        margin: -30px 0px 0px 70px;
        
    }
    
    
    .tittleProj span {
    
        font-weight: 600;
    }
    
    
    
    .tittleProj img {
    
        float: left;
        margin: -30px 0px 0px 0px;            
            
    }  

    .filter-green {


        max-width: 70px;
        max-height: 70px;
    }

    .counters {

        margin-bottom: 100px;
    }

    .custom-shape-divider-bottom-1616231463 {
        position: absolute;
        bottom: 10;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        margin-top: -70px;
    }
}




@media (min-width: 575px) {

  
    .secProj {

        height: auto;
    }


    
    .counters {

        margin-bottom: 100px;
    }

/* por alguna razón esta división se muere*/
    .custom-shape-divider-bottom-1616231463 {
        position: absolute;
        bottom: 10;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        
        
    }
    
    .custom-shape-divider-bottom-1616231463 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 72px;
        transform: rotateY(180deg);
        margin-top: 0px;
      
        
    }
    
    .custom-shape-divider-bottom-1616231463 .shape-fill {
        fill: #ee1212;
        
    }
}




/*form  v*/
.custom-shape-divider-bottom-1616187612 {
    position: absolute;
    bottom: -1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -70px;
}

.custom-shape-divider-bottom-1616187612 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1616187612 .shape-fill {
    fill: #000000;
}






/*------------entre proye y contact--------------------------------------*/



.custom-shape-divider-bottom-1616231463 {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    
    
}

.custom-shape-divider-bottom-1616231463 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
    margin-top: -100px;
  
    
}

.custom-shape-divider-bottom-1616231463 .shape-fill {
    fill: #01b12d;
    z-index: 100;
    
}




/*----------------------------CUARTA SECCION---------------------------*/

.contactus {

   height: 870px;

}


.tittleForm {

    margin: 100px 0px 0px 0px;
} 

.tittleForm  h2 {

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    display: inline-block;
    line-height: 15px;
    margin: 15px 0px 0px 0px;
    
}
.tittleForm  p {

    color: #F22579;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 0px 100px;
    
}

.tittleForm  span {

    font-weight: 600;
}


.tittleForm img {

    float: left;
    margin: -30px 0px 0px 0px;
    
        
}


.imageMail {

    margin: 100px 0px 0px 100px;
}


.formSup {

    background-color: rgb(255, 255, 255);    
    padding: 30px;
    border-radius: 5px;
    float: right;
    
}
 
.formSup h2 {

    margin-bottom: 30px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 500;
    text-align: left;
    font-size: 50px;
    margin-top: -20px;
    color: #601C70;
}


form label {

    margin: 20px 0px 10px 0px;
    color: #000000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

form button {

    margin: 20px 0px 0px 0px;
    justify-content: center;
    
}

.btn-primary {

    background-color: #F22579;
    border-color: #F22579;
    
}

.btn-primary:hover {

    background-color: #601C70;
    border-color: #601C70;
}

.btn-lg {

    width: 160px;
}


.formSup input {

    background-color: #F1F1F1;
    border-color: #F1F1F1;
}

.formSup input:focus {

    border-color: #f2257a44;
    box-shadow: 0 0 0 0.2rem #f2257a44;
} 


.formSup textarea {

    background-color: #F1F1F1;
    border-color: #F1F1F1;
}

.formSup textarea:focus {

    border-color: #f2257a44;
    box-shadow: 0 0 0 0.2rem #f2257a44;
} 


@media (max-width: 575px) {  /*disponitivos MENORES a 576px - tipo moto g4 360x640 */



    .contactus {

        height: auto;
        margin-bottom: 50px;
    }
        
    .tittleForm  h2 {

        font-family: 'Lato', sans-serif;
        font-size: 2.5rem;
        display: inline-block;
        line-height: 15px;
        margin: 10px 0px 30px 0px;
        color: rgb(0, 0, 0);
        
    }
    .tittleForm p {
    
        color: #F22579;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        margin: -30px 0px 0px 70px;
        
    }
    
    
    .tittleForm span {
    
        font-weight: 600;
    }
    
    
    
    .tittleForm img {
    
        float: left;
        margin: -30px 0px 0px 0px;            
            
    }  

    .filter-green {


        max-width: 70px;
        max-height: 70px;
    }

    .imageMail{

        /*width: 250px !important;
        height: 250px !important;
        margin-top: -80px;*/
        visibility: hidden;
       
    }

    .formSup {

        margin: 50px 0px 0px 0px; 

    }

    .bkgForm {

        width: 95%;
        
    }

    .formSup {

        margin-top: -600px;
    }
}



@media (min-width: 575px) {

    .contactus {

        height: auto;
        margin-bottom: 50px;
    }


     
    .tittleForm  h2 {

      
        margin: 10px 0px 30px 0px;
       
        
    }



    .imageMail {

        /*width: 250px !important;
         height: 250px !important;
         margin-top: -80px;*/
         visibility: hidden;
        
    }

    .formSup {

        margin-top: -600px;
    }

    

/* tampoco aparece esta división*/

    .diviFot .custom-shape-divider-bottom-1616231635 {
        position: absolute;
        bottom: 10;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        
    }
    
    .custom-shape-divider-bottom-1616231635 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 41px;
        transform: rotateY(180deg);
        margin-bottom: -35px;
    }
    
    .custom-shape-divider-bottom-1616231635 .shape-fill {
        fill: #ca0a0a;
    }





}


@media (min-width: 768px) {

    .imageMail {

     width: 50px !important;
     height: 50px !important;
     margin-top: 60px;
     margin-left: -100px;
     visibility: visible;
        
    }


    .formSup {

        margin-top: 50px;
    }
      
}




    
@media (min-width: 992px) {

    .imageMail {

        padding-left: 60px;
    }
    
}


    
@media (min-width: 1200px) {

    .imageMail {

        padding-left: 130px;
    }
    
}


      
/*----------------entre contact y footer--------------*/


.diviFot .custom-shape-divider-bottom-1616231635 {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1616231635 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 41px;
    transform: rotateY(180deg);
    margin-bottom: -35px;
}

.custom-shape-divider-bottom-1616231635 .shape-fill {
    fill: #ffffff;
}




/*Footer*/


footer {

    background-color: #000000;
    height: 300px;
    margin-top: 0px;

}

.probando {
	
	color: rgb(255, 255, 255);
  
}

.probando img {

  margin: 100px 0px 0px 0px;
}


#rrss {

  margin: 100px 0px 0px 0px;
}

.lineapie {
	text-align: center;
	color: #F22579;
    font-weight: 500;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;

}




/*---------------------------RRSS------------------------*/

.tittleRedes {

    margin: 0px 0px 30px 0px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px;

}


.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}
.social-buttons__button {
    margin: 10px 5px 0;
}
.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}
.social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
}
.social-button i, .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}
.social-button i {
    font-size: 28px;
}
.social-button svg {
    height: 40%;
    width: 40%;
}
.social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}
.social-button:focus, .social-button:hover {
    color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}
.social-button--mail {
    color: #8f00af;
}
.social-button--mail::after {
    background: #8f00af;
}
.social-button--facebook {
    color: #3b5999;
}
.social-button--facebook::after {
    background: #3b5999;
}

.social-button--instagram {
    color: #e4405f;
}
.social-button--instagram::after {
    background: linear-gradient(23deg, rgba(255,194,79,1) 0%, rgba(244,58,80,1) 26%, rgba(201,36,165,1) 54%, rgba(161,51,184,1) 81%, rgba(43,66,220,1) 100%);
}


@media (max-width: 576px) {


    footer {

        height: auto;
        
    }

    .probando img {

     margin: 50px 0px 0px 0px; 
     width: 50%;
         
        
    }

     #rrss {

         margin: 50px 0px 20px 0px;
    }


    .lineapie {

        font-size: 0.8rem;
    }

    
    
        
}

@media (min-width: 576px) {


    footer {

        height: auto;
        
    }

    .probando img {

     margin: 50px 0px 0px 0px; 
     width: 50%;
         
        
    }

     #rrss {

         margin: 50px 0px 20px 0px;
    }


    .lineapie {

        font-size: 0.8rem;
    }

    
    
        
}




/*------- MODAL -----*/

.modal-content {

    background: rgba(0, 0, 0, 0.808);
    box-shadow: 0 8px 32px 0 rgba(158, 7, 90, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;   
}

.modal-title {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.modal-header {

    border-bottom: 1px solid rgba(161, 0, 121, 0.384);
}

.modal button  {

    width: 80px;
    justify-content: center;   
    margin: 10px;
}


.modal button:focus {

    border: 1px solid #0a0a0a44 !important;
    box-shadow: 0 0 0 0.2rem #00000044 !important;
}

.modal-body {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.modal-body span {

    color: #e90088;
    font-weight: 600;
}